
body {
    height: 100vh; /* Ensure the body covers the entire viewport height */
    display: flex;
    flex-direction: column;
    
}

.main {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 2vw;
    gap: 3vw;
    margin-top: 5vw; 
    border-radius: 15px;   
}

h1 {
    margin-left: 35vw;
    font-weight: 100;
    font-size: 5rem;
}

p {
    width: clamp(45ch, 50%, 75ch);
    font-size: 1.3em;
}

.text-block {
    width: 50vw; 
    border-radius: 5%;
    padding: 20px;
    margin-left: 3vw;
    margin-top: 0;
}

.personal-image > img {
    border-radius: 15%;
    height: 350px;
}

.blob {
    z-index: -1;
    width: 40vw;
    position: relative;
    left: 60vw;
    bottom: 40vw;

}





