

body {
    width: 1024px;
    height: 720px;
}

#project-header {
    font-weight: 100;
    font-size: 5rem;
    margin-bottom: 30px;

}


a {
    text-decoration: none;
}

/* p   {
    width: clamp(45ch, 50%, 75ch);
    } */

#info {

    font-size: 1rem;
    font-style: italic;
}

.top-of-page {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}


.projects {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    gap: 40px;

    
}

.project-square {
    display: flex;
    flex-direction: column;
    background-color: #031927;
    height: 220px;
    width: 400px;
    color: white;
    border-radius: 10px;
    padding: 20px;

    transition: margin 0.5s ease-out;
}

.languages {
    display: flex;
    align-items: baseline; 
}

button {
    border-radius: 2em;
    outline: 2px solid white;
    background-color: #464655;
    color: white;
    margin-right: 10px;
    height: 25px;

}

.project-square:hover {
    margin-top: -15px;
    transition: margin 0.5s ease-in;
}

.project-square > p {
    color: #FFFBFA;
}

svg {
    width: 30px;

}

.container {
    display: flex;
    justify-content: space-between;
}











