

body {
    width: 1024px;
    height: 720px;
}

#project-header {
    font-weight: 100;
    font-size: 80px;
    margin-left: 30vw;
    top: 0%;
    width: 100vw;

}


a {
    text-decoration: none;
}


.projects {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    gap: 40px;

    
}

.project-square {
    display: flex;
    flex-direction: column;
    background-color: #031927;
    height: 220px;
    width: 400px;
    color: white;
    border-radius: 10px;
    padding: 20px;

    transition: margin 0.5s ease-out;
}

.languages {
    display: flex;
    align-items: baseline; 
}

button {
    border-radius: 2em;
    outline: 2px solid white;
    background-color: #031927;
    color: white;
    margin-right: 10px;
    height: 25px;

}

.project-square:hover {
    margin-top: -20px;
    transition: margin 0.5s ease-in;
}

.project-square > p {
    color: #FFFBFA;
}













