* {
    outline: red dashed 1px;

}

body {
    width: 1024px;
    height: 720px;
}

#project {
    position: absolute;
    font-weight: 100;
    font-size: 80px;
    margin-left: 40%;
    top: 0%;

}





.navbar p {
    font-family: 'Times New Roman', Times, serif;
}












