
body {
    width: 1024px;
    height: 720px;
}

.name {
    position: absolute; 
    bottom: 25%;
    left: 10%;
    font-size: 80px;
    font-weight: semi-bold;
    
}


.navbar {
    height: 60px;
    width: 1024px;
    /* background-color: red; */
    display: flex;
    /* background-color: orange; */
}

a {
    text-decoration: none;
}




#git {
    margin-left: 500px;
    height: 75%;

    

    
}
#linkedin {
    height: 75%;
    

}

.navbar p:hover {
    box-shadow: inset 100px 0 0 0 #54b3d6;
    /* color: white;     */
}







